.header{
    background-color: rgb(190, 39, 64);
    color: white;
    display: block;
    height: 100px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.header__heading{
    font-size: 30px;
}

.list__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list__title{
    font-size: 2em;
}
.list__text{
    font-size: 2em;
}
.list__form{
    padding-top: 1em;
    display: flex;
    gap: 1em;
}
.list__input{
    padding: 0.75rem 0.75rem;
    height: 0.2rem;
}
.list__button{
    height: 30px;
    width: 100px;
    background: #b1422b;
    border-radius: 0.8rem;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
.list__button:hover{
    background-color: rgb(23, 44, 111);
}

.list__item-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border: 1px solid black;
    width: 470px;
    padding-top: 1px;
    margin-top: 15px;
}
.list__item-button{
    height: 35px;
    border: none;
    background: green;
    cursor: pointer;
    color: white;
    border-radius: 11px;
}
.list__items-button{
    border:none ;
    background: red;
    cursor: pointer;
    color: white;
    height: 35px;
    border-radius: 11px;
}

.completed {
    background-color: green;
}

.block__item[type=checkbox] { 
    position: relative; 
    width: 60px; 
    height: 30px; 
    -webkit-appearance: none; 
    outline: none; 
    background: #c6c6c6; 
    border-radius: 20px; 
    transition: 0.5s; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
    margin-top: 2px; 
    cursor: pointer;
  } 
   
  .block__item:checked[type=checkbox] { 
    background: rgb(190, 39, 64); 
  } 
   
  .block__item[type=checkbox]:before { 
    content: ""; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    border-radius: 20px; 
    top: 0; 
    left: 0; 
    background: #8b3e3e; 
    transition: 0.5s; 
    transform: scale(1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  } 
   
  .block__item:checked[type=checkbox]:before { 
    left: 30px; 
  }
.block__button{
    display: flex;
    margin: 25px;
    gap: 70px;
}

.block__item--odd li:nth-child(odd) { 
    background-color: #f2f2f2; 
  }
  .block__item--even li:nth-child(Even) { 
    background-color: #f2f2f2; 
  }